<div class="layout-topbar">
  <ul class="topbar-menu p-jc-center">
    <li style="position: absolute; left: 0;"><a [routerLink]="'/'">Logo helye</a></li>
    <ng-container>
      <i class="pi pi-angle-double-right arrow-animation-right p-mr-2"></i>
      <li><a href="tel:+363012345678">Hívjon most!</a></li>
      <i class="pi pi-angle-double-left arrow-animation-left"></i>
    </ng-container>
    <li style="position: absolute; right: 0;"><a [routerLink]="'/login'">Admin oldal</a></li>
  </ul>
</div>
