.login-div {
  height: 100%;
  padding-top: 6rem;
}

input, :host ::ng-deep p-button > button {
  width: 100%;
}

.custom-icon-input {
  width: 100%;
  margin-bottom: 1.5rem;
}

:host ::ng-deep .p-fieldset {
  width: 100%;

  .p-fieldset-legend {
    text-align: center;
  }
}
